# イメージに入れるのは pyproject.toml / uv.lock / README.md / LICENSE / src/ とスキャナの導入スクリプトのみ
*
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!src/
!scripts/scanner-versions.sh
!scripts/install-scanners.sh
**/__pycache__
